* {
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: font;
	src: url('../fonts/earthorbiterxtrabold.ttf');
}

header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	margin: 0 auto;
}

.wrapInner {
	width: 1200px;
	margin: 0 auto;
}

.headerBlock p {
	float: left;
	font-family: arial;
}

.headerBlock p a {
	display: block;
	color: #fff;
	text-decoration: none;
}

.headerContent {
	float: right;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.headerContent ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.headerContent ul li {
	float: left;
	margin-right: 30px;
}

.headerContent ul li:last-child {
	margin-right: 0;
}

.headerContent ul li a {
	display: block;
	color: #fff;
	text-decoration: none;
	font-family: arial;
}

.headerBlock {
	padding: 50px 20px 20px 20px;
}

.sectionArea01 {
	background: url(../images/background03.jpg) no-repeat;
	background-size: cover;
}

.sectionBlock01 {
	display: table;
	width: 100%;
}

.sectionContent01 {
	color: #fff;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.sectionContent01 p:first-child {
	font-size: 50px;
	font-family: font;
	font-weight: bold;
	margin-bottom: 20px;
	transition: 0.4s;
}

.sectionContent01 p:last-child {
	font-size: 30px;
	font-family: font;
}

@media (max-width: 1200px) {
	
	.sectionArea01 {
		background-position: center center;
	}

	.wrapInner {
		width: auto;
	}
	
	.sectionContent01 p:first-child {
		font-size: 40px;

		padding: 0 20px 20px 20px;
	}
	
	.headerBlock {
		padding: 50px 20px 20px 20px;
	}
	
	.sectionContent01 p:last-child {
		font-size: 30px;
		font-family: font;
	}
	
	.sectionContent01 p:first-child {
		max-width: 439px;
		margin: 0 auto;
		transition: 0.5s;
	}
	
	.sectionContent01 p:first-child img {
		transition: 0.5s;
		width: 100%;
		transition: 0.5s;
	}
}

@media (max-width: 990px) {

	.sectionArea01 {
		background-position: center center;
	}

	.wrapInner {
		width: auto;
	}
	
	.sectionContent01 p:first-child {
		max-width: 339px;
		margin: 0 auto;
		transition: 0.5s;
	}
	.headerBlock {
		padding: 50px 20px 20px 20px;
	}
	
	.sectionContent01 p:last-child {
		font-size: 25px;
		font-family: font;

		transition: 0.4s;
	}
	
	.sectionContent01 p:first-child img {
		transition: 0.5s;
		width: 100%;
	}
	.sectionContent01 p:first-child {

		font-size: 25px;
		padding: 0 20px 20px 20px;
	}
	
}

@media (max-width: 767px) {

	.sectionArea01 {
		background-position: center center;
	}

	.wrapInner {
		width: auto;
	}
	
	.sectionContent01 p:last-child {
		font-size: 20px;
		font-family: font;
		transition: 0.4s;
	}
	
	.sectionContent01 p:first-child {

		font-size: 25px;
		padding: 0 20px 20px 20px;
	}
	
	.headerBlock {
		padding: 30px 20px 20px 20px;
	}
}

@media (max-width: 480px) {
	.sectionArea01 {
		background-position: center center;
	}

	.wrapInner {
		width: auto;
	}
	.sectionBlock01 {
		display: table;
		width: 100%;
		height: auto;
	}

	.headerBlock {
		padding: 30px 20px 20px 20px;
	}

	.sectionContent01 p:first-child {
		font-size: 25px;
		padding: 0 20px 20px 20px;
	}

	.sectionContent01 p:last-child {
		font-size: 15px;
		font-family: font;
		transition: 0.4s;
	}
	.sectionContent01 p:first-child {
		max-width: 239px;
		margin: 0 auto;
		transition: 0.5s;
	}

	.sectionContent01 p:first-child img {
		transition: 0.5s;
		width: 100%;
	}
}