* {
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: font;
	src: url('../fonts/earthorbiterxtrabold.ttf');
}
.clearfix:after {
	display: table;
	clear: both;
	content: "";
}
header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	margin: 0 auto;
}

.wrapInner {
	width: 1200px;
	margin: 0 auto;
}

.headerBlock p {
	font-family: arial;
	text-align: center
}

.headerBlock p a {
	display: block;
	color: #fff;
	text-decoration: none;
}

.navBlock {
	background-color: rgba(126, 35, 50,0.5);
}

.navBlock {
	text-align: center;
}

.navBlock ul li {
	display: inline-block;
	list-style: none;
}

.navBlock ul li a {
	color: #fff;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	padding: 15px 10px;
	display: block;
	z-index: 99;
	transition: 0.5s;
}
.navBlock {
	position: relative;
	display: none;
	z-index: 2;
}
.toggleArea {
	padding: 20px;
	position: relative;
	z-index: 1;
}
.toggleArea p i {
	color: #fff;
}

.toggleArea p i:hover {
	cursor: pointer;
}
/*
.headerBlock {
	padding: 30px 20px 20px 20px;
}
*/

.sectionArea01 {
	background: url(../images/background03.jpg) no-repeat;
	background-size: cover;
}

.sectionBlock01 {
	display: table;
	width: 100%;
}

.sectionContent01 {
	color: #fff;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}


.pace {
	-webkit-pointer-events: none;
	pointer-events: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.pace .pace-progress {
	background: #7e2332;
	position: fixed;
	z-index: 2000;
	top: 50%;
	bottom: auto;
	right: 100%;
	width: 100%;
	height: 2px;
	transform: translateY(-50%);
}

body.pace-done .overlayLoading {
	display: none;
}

.overlayLoading {
	background: #000;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.sectionContent01 p:first-child {
	font-size: 50px;
	font-family: font;
	font-weight: bold;
	margin-bottom: 20px;
	transition: 0.4s;
}

.sectionContent01 p:nth-child(2) {
	font-size: 40px;
	font-family: font;
	transition: 0.4s;
}

.sectionContent01 p:last-child {
	font-size: 30px;
	font-family: font;
	transition: 0.4s;
}

@media (max-width: 1200px) {
	
	.sectionArea01 {
		background-position: center center;
	}

	.wrapInner {
		width: auto;
	}
	
	.sectionContent01 p:first-child {
		font-size: 40px;

		padding: 0 20px 20px 20px;
	}
	
	
	
/*
	.headerBlock {
		padding: 20px 20px 20px 20px;
	}
	
*/
	.sectionContent01 p:last-child {
		font-size: 20px;
		font-family: font;
	}
	
	.sectionContent01 p:nth-child(2) {
		font-size: 30px;
		font-family: font;
		transition: 0.4s;
	}
	
	.sectionContent01 p:first-child {
		max-width: 439px;
		margin: 0 auto;
		transition: 0.5s;
	}
	
	.sectionContent01 p:first-child img {
		transition: 0.5s;
		width: 100%;
		transition: 0.5s;
	}
}

@media (max-width: 990px) {

	.sectionArea01 {
		background-position: center center;
	}

	.wrapInner {
		width: auto;
	}
	
	.sectionContent01 p:first-child {
		max-width: 339px;
		margin: 0 auto;
		transition: 0.5s;
	}
/*
	.headerBlock {
		padding: 20px 20px 20px 20px;
	}
*/
	
	.sectionContent01 p:last-child {
		font-size: 18px;
		font-family: font;

		transition: 0.4s;
	}
	
	.sectionContent01 p:nth-child(2) {
		font-size: 25px;
		font-family: font;
		transition: 0.4s;
	}
	
	.sectionContent01 p:first-child img {
		transition: 0.5s;
		width: 100%;
	}
	.sectionContent01 p:first-child {

		font-size: 25px;
		padding: 0 20px 20px 20px;
	}
	
	.navBlock ul li a {
		font-size: 20px;
	}
	
}

@media (max-width: 767px) {

	.sectionArea01 {
		background-position: center center;
	}

	.wrapInner {
		width: auto;
	}
	
	
	.sectionContent01 p:first-child {

		font-size: 25px;
		padding: 0 20px 20px 20px;
	}
	
/*
	.headerBlock {
		padding: 20px 20px 20px 20px;
	}
*/
	
	.navBlock ul li a {
		font-size: 15px;
	}
}

@media (max-width: 480px) {
	.sectionArea01 {
		background-position: center center;
	}

	.wrapInner {
		width: auto;
	}
	.sectionBlock01 {
		display: table;
		width: 100%;
		height: auto;
	}
/*

	.headerBlock {
		padding: 20px 20px 20px 20px;
	}
*/

	.sectionContent01 p:first-child {
		font-size: 25px;
		padding: 0 20px 20px 20px;
	}

	.sectionContent01 p:nth-child(2) {
		font-size: 15px;
		font-family: font;
		transition: 0.4s;
	}
	
	.sectionContent01 p:last-child {
		font-size: 12px;
		font-family: font;
		transition: 0.4s;
	}
	
	.sectionContent01 p:first-child {
		max-width: 239px;
		margin: 0 auto;
		transition: 0.5s;
	}

	.sectionContent01 p:first-child img {
		transition: 0.5s;
		width: 100%;
	}
	
	.navBlock ul li a {
		font-size: 12px;
		padding: 15px 5px;
	}
}